@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

/*   font-family: "Poor Story", system-ui; */

/* 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

body{
  overflow-x: hidden;
}

/************* 1. 상단영역 *************/
#top-area {
  position: relative;
  transition: all 0.6s ease-in-out;
  z-index: 10;
}

#top-area:hover {
  background-color: #ff98ae;
}

.logo img{
  width: 70%;
  padding: 7px 22px;
}
.gnb {
  display: flex;
  height: 75px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: all 0.6s ease-in-out;
}

.gnb dl > dt a {
  font-size: 1.2rem;
  font-weight: bold;
}
#top-area:hover .gnb {
  height: 510px;
}
#top-area .gnb::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 0;
  background: white;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}
#top-area:hover .gnb::before {
  height: 435px;
}

#top-area:hover .gnb dd {
  background-color: #fff;
}
/* 메뉴 박스 */
.gnb dl {
  padding: 2px;
}

/* 상위메뉴 dt */
.gnb dt {
  padding: 0 50px;
  line-height: 78px;
}
.gnb dt a:hover {
  color: #fff;
}
/* 상위메뉴 dd */
.gnb dd {
  line-height: 60px;
}
.gnb dd a:hover {
  color: red;
  font-weight: bold;
}

/*********************** 기타파트 ***********************/
.search {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.search img {
  height: 35px;
  padding-left: 32px;
}

/* 각 사진의 2번째 이미지 숨기기 */
.search li img:nth-child(2) {
  display: none;
}

/* 사진의 1번째 이미지 보이기 */
.search li:nth-child(1) ~ li img:nth-child(1) {
  display: inline;
}

/* 최상위 박스 오버시 첫번째 이미지 숨기기 */
#top-area:hover .search li img:nth-child(1) {
  display: none;
}
/* 최상위 박스 오버시 첫번째 이미지 숨기기 */
#top-area:hover .search li img:nth-child(2) {
  display: inline;
}

/************* 2. 메인영역 *************/

/* 메인 배너 액자이미지 삽입 세팅 */
.cont-banner {
  position: relative;
}

/* 메인 배너 액자이미지 삽입 */
.cont-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/main_bn.png) no-repeat center/100%;
}

/* 액자이미지 삽입하여 기존 슬라이드 이미지 세팅 */
.mslide-box {
  width: 100%;
  height: 92%;
  border-radius: min(220px, 13.3vw);
  margin: 0 auto;
  margin-top: 4.5%;
  margin-left: -0.1%;
  overflow: hidden;
}

.slider {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider li {
  flex-basis: 100%;
  flex-shrink: 0;
}

.snum-01 {
  background: url(../images/main_img1.jpg) no-repeat center/100% 95%;
}
.snum-02 {
  background: url(../images/main_img2.jpg) no-repeat center/100% 95%;
}
.snum-03 {
  background: url(../images/main_img3.jpg) no-repeat center/100% 95%;
}
.snum-04 {
  background: url(../images/main_img4.jpg) no-repeat center/100% 95%;
}

/***************** 3. 프로모션 영역 *****************/
/* 프로모션 영역 상단 */

.pro-header {
  padding-top: 40px;
}

.pro-header-text {
  font-family: "Poor Story";
  color: #ff5484;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
}
.pro-header-text-bottom {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}

/*  프로모션 영역 하단(이미지 슬라이드) */
.proslide-box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: hidden;
}
#proslider {
  position: relative;
  left: 0%;
  display: flex;
  padding-left: 15px;
  gap: 0 36px;
  width: 100%;
  height: 100%;
}
#proslider li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#proslider li img {
  border-radius: 25px;
  object-fit: cover;
}


/***************** 4. 뉴아이템 영역 *****************/

.new-header-text {
  font-family: "Poor Story";
  color: #ff5484;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
}
.new-header-text-bottom {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}
/* 뉴아이템 이미지 구역 */
.new-first-slider img, .new-second-slider img{
  border-radius: 20px;
}

.new-first-slider {
  position: relative;
  display: flex;
  left: calc(50% - 356px / 2);
  transition: 2s ease-in-out;
}
.new-first-slider li {
  transition: 2s ease-in-out;
}
.new-first-slider.on {
  left: 0;
}
.new-first-slider li:first-child {
  position: relative;
  z-index: 1;
}
.new-first-slider li + li {
  margin-left: -14.4%;
}
.new-first-slider.on li {
  margin-right: 18%;
}

.new-first-slider.on >li:hover img {
  transform: scale(1.1);
  transition: .3s ease-in;
}
.new-second-slider.on >li:hover img {
  transform: scale(1.1);
  transition: .3s ease-in;
}

/* 설명 */
.slide-info {
  padding-top: 12%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}



/* 두번째 이미지 슬라이드 수정하기 */
.new-second-slider {
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  right: calc(50% - 356px / 2);
  transition: 3.5s ease-in-out;
}
.new-second-slider li {
  margin-left: -29%;
  transition: 3.5s ease-in-out;
}
.new-first-slider li:first-child img:last-child ,
  .new-second-slider li:first-child img:last-child {
  display: none;
}
.new-second-slider.on {
  right: 5%;
}
.new-second-slider li:first-child {
  position: relative;
  z-index: 1;
}
.new-second-slider li + li {
  margin-right: 14.4%;
}
.new-second-slider.on li {
  margin-left: -11%;
}

/***************** 5. 비베네핏 영역 *****************/
/* 비베네핏 상단영역 */
.be-header {
  padding-top: 50px;
}

.be-header-text {
  font-family: "Poor Story";
  color: #ff5484;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
}

.be-header-text-bottom {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}
/*  비베네핏 이미지 영역 */
.beslide-box {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.beslider {
  position: relative;
  left: 0%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 0 40px;
  
}
.beslider li {
  background-repeat: no-repeat;
  background-position: center;
  
}
.beslider li img {
  width: 110%;
  clip-path: polygon(
    49.8% 3%,
    83.8% 16.2%,
    98.8% 44%,
    99.6% 100.4%,
    66.8% 100%,
    32.8% 100%,
    0.2% 100%,
    0.8% 44%,
    15.8% 16%
    );
  }
  
.beslider > li img:hover{
  transform: scale(1.15);
}  

/**************************** 6. 배너영역 ****************************/

.ban-box {
  display: flex;
  justify-content: space-around;
}

.ban-first-text {
  font-family: "Poor Story";
  color: #ff5484;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
}
.ban-first-title {
  font-size: 1rem;
  line-height: 1.5;
}
.ban-first-box {
  position: relative;
  left: -5%;
}

.ban-first-box img {
  padding-top: 45px;
}

.ban-second-title {
  font-size: 1rem;
  line-height: 1.5;
}
/**************************** 7. 하단영역 ***************************/

/* 하단영역 상단부분 */
.footer-cont {
  padding: 60px 0px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top a {
  font-size: 1rem;
  padding: 0 8px;
  color: #fff;
}

.cont-box-foot {
  padding-top: 40px;
  display: flex;
}

.footer-info-logo {
  width: 200px;
  height: 300px;
}
.footer-info-logo img {
  padding: 40px 30px;
  width: 100%;
}
.footer-text {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 110px;
  font-size: 1.1rem;
  line-height: 2;
  color: #fff;
}

.footer-wrap {
  position: relative;
  width: 40%;
}

/* 하단 영역 소셜네트워크 */

.footer-social-list {
  display: flex;
  justify-content: space-between;
  padding: 55px 50px;
}

/* 하단 영역 spc아이콘 */
.footer-icon-list {
  display: flex;
  justify-content: space-between;
  padding: 55px 45px;
}

/***************** 하단영역 TOP버튼 추가 *****************/
.btn-top {
  position: fixed;
  bottom: 4vw;
  right: 3vw;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: 2px outset #fff;
  background-color: #ffe4ea;
  z-index: 100;
}
/*  a요소 확장 */
.btn-top a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  font: 2.4vw/6.5vw "Poor Story";
}
.btn-top:hover a {
  font-weight: bold;
  color: rgb(255, 105, 155);
}
/* top버튼 가상요소로 화살표 넣기 */
.btn-top::after {
  position: absolute;
  margin-left: -9%;
  margin-top: -100%;
  font-size: 2vw;
  content: "↑";
  display: inline-block;
}

/* 홈페이지 인트로 닫기 버튼 설정 */
.cbtn {
  position: absolute;
  top: 50%;
  transform: translateY(-19vw);
  right: 6.8%;
  width: 5vw;
  height: 9vh;
  border: none;
  color: #fff;
  background-color: lightpink;
  /* border: 1px dotted white; */
  border-radius: 50%;
  cursor: pointer;
  background: url(../images/spoon.png) no-repeat center / 50%;
}


/* 마우스 포인터 설정 */
.pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: url(../images/spoon.png) no-repeat center;
  transition: 0.3s ease-out;
  pointer-events: none;
}


