@charset "utf-8";


/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');


html{
  /* font-size: 10px; */
}
body{
  font-family: 'Nanum Gothic', sans-serif;
}

/******************** 공통 클래스 ********************/
/* 임시표시타이틀 */
.temp-tit{
  position: absolute;
  font-size: 2vw;
  color: #ccc;
}
/* 중앙속박스 */
.inbox{
  max-width: 1260px;
  margin: 0 auto;
  
}
