@charset "utf-8";

/* 리셋, 코어, 커먼 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);
@import url(./subpage.css);



body{
  background: url(../images/bg_hero.jpg);
}

.intro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #edc5ce;
}
.intro video{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*  1. 상단영역  */
.top-area{
  max-width: 1652px;
  height: 90px;
 
}
/*  2. 메인영역  */

.main-area{
  max-width: 1652px;
  margin: 0 auto;
  aspect-ratio: 1.8;
}
/*  3. 프로모션영역  */
.pro-area{
  max-width: 1652px;
 height: 700px;
}
/*  4. 뉴아이템영역  */
.newitem-area{
  max-width: 1652px; 
  height: 1150px;
}


/*  5. be benefit영역  */
.benefit-area{
  max-width: 1600px;
  height: 600px;
}
/*  6. 배너 영역 */
.ban-area{
  max-width: 1652px;
  height: 500px;
}
/*  7. 하단영역  */
.footer-area{
  max-width: 1652px;
  height: 450px;
}
#footer-area{
  background-color: black;
}
#newitem-area{
  background-color: rgb(255, 228, 234);
}
#pro-area, #benefit-area, #ban-area{
  background-color: rgb(255, 255, 255);
}



/*  서브페이지 1 */
#menu-area{
  max-width: 1652px;
  height: 30px;
}
#main-new{
  max-width: 1652px;
  height: 1900px;
}
#sub-new{
  max-width: 1652px;
  height: 418px;
}
.main-new-container,.main-new-content,.sub-new-main{
  width: 1100px;
  margin: 0 auto;
}


/* 서브페이지 2 */
#main-cont{
  max-width: 1652px;
  height: auto
}

/* 서브페이지1 메인페이지 */
#menu-view-area{
  background-color: #fff;
}